/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #23a8e0
$codeBgLightColor = $codeBgColor
$preTextLightColor = #fff
$highlightedBgLightColor = rgba(0,0,0,.5)
$languageTextLightColor = $preTextLightColor
$lineNumbersLightColor = red